Exercise 1 (Types): Your First Program 2023188369 이태훈

Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.

In the code cell below, use the print() function to print out the phrase: Hello, world!

In [1]:
print("Hello, world!")

Hello, world!

Now, let's enhance your code with a comment. In the code cell below, print out the phrase: Hello, world! and comment it with the phrase Print the traditional hello world all in one line of code.

In [2]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

Exercise 2 (Types): Get the object type

In the code cell below, use the type() function to check the object type of 12.0.

In [3]:
type(12.0)

float

Exercise 3 (Types): Types

What is the data type of the result of: 6 / 2?

In [4]:
6/2

3.0

What is the type of the result of: 6 // 2? (Note the double slash //.)

In [5]:
type(6//2) # int, as the double slashes stand for integer division

int

Exercise 4 (Types): Expression

Let's write an expression that calculates how many hours there are in 160 minutes:

In [6]:
160//60

2

Exercise 5 (Types): Expression and Variables in Python

What is the value of x where x = 3 + 2 * 2

In [7]:
x = 3 + 2 * 2
print(x)

7

What is the value of y where y = (3 + 2) * 2?

In [8]:
y = (3 + 2) * 2
print(y)

10

What is the value of z where z = x + y?

In [9]:
z = x + y
print(z)

17